.nav-1 {
    position: relative;
    width: 100%;
    height: 35px;
    background-color: #2A254B;
    color: #fff;
}

.nav-1 .text {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

.nav-1 i {
    margin: 0px 10px;
}